@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "owl.carousel/dist/assets/owl.carousel.min.css";
@import "aos/dist/aos.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Custom styles */
:root {
    --primary-color: #ff8c00;
    --secondary-color: #003366;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
}

/* Theme configuration */
@layer base {
    :root {
        --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }
}

/* Add your custom styles here */
